* {
  margin: 0;
  padding: 0;
}
.landing1 {
  height: 50em;
  width: auto;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #1f3040 51.33%, #ff9442 51.5%);
}
.landing2 {
  height: 47em;
  width: 75em;
  margin-top: 50px;
  background-color: hsl(0, 24%, 96%);
}

.navbar {
  height: 33px;
  width: 517px;
  margin-top: 40px;
  display: flex;
  margin-left: auto;
  gap: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.navbar a {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.navbar a:hover {
  color: hsl(26, 86%, 40%);
  text-decoration: underline;
}

.heading {
  width: 500px;
  height: 150px;
  font-size: 30px;
  line-height: 50px;
  padding-top: 40px;
  margin: 90px 90px 3px;

  /* border: 1px solid black; */
}
.paragraph {
  width: 500px;
  height: 110px;
  line-height: 25px;
  padding-top: 20px;
  margin: 1px 90px;
  /* border: 1px solid black; */
  color: hsl(0, 1%, 38%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}
